<style>

label{
  display:block;
  margin:1em 0 .2em;
}
/* single-line text, checkbox, and button */
input, select, textarea{
  display: block;
  width: 100%;
  padding: .3em;
  font-size: 20px;
  background-color: #fbfbfb;
  border: solid 1px #CCC;
  resize: vertical;
}
textarea{
  min-height: 180px;
}
select{
  color:indigo;
}
option{
  color:blue;
  background: lightgray;
}
input[type=checkbox]{
  display:inline;
  width:auto;
  color:red;
}

input[type=submit]{
  background: darkblue;
  margin: 1em 0 0;
  color: white;
  border: none;
  border-radius: 8px;
  transition: all .3s ease-out;
}

input:focus,
input:hover,
select:focus,
select:hover,
textarea:focus,
textarea:hover{
  background: lightgray;
}

/* hover and focus states */
input[type=submit]:hover,
input[type=submit]:focus{
  background: lightgreen;
  outline:none;
}

@media screen and (min-width:600px) {
  /*  make the form 2 columns */
  form:after{
    content:'';
    display:block;
    clear:both;
  }
  .column{
    width: 50%;
    padding: 0 1.5em 1.5em 0;
    float: left;
  }
}

</style>

<form action="https://www.formbackend.com/f/6b2e483fe732160f" method="post">  
    <div class="column">
        <label for="the-name">Your Name</label>
        <input type="text" name="name" id="the-name">

        <label for="the-email">Email Address</label>
        <input type="email" name="email" id="the-email">

        <label for="the-phone">Phone Number</label>
        <input type="tel" name="phone" id="the-phone">

        <label for="the-reason">How can we help you?</label>
        <select name="reason" id="the-reason">
            <option value="">Choose one</option>
            <option value="web">I need web design services</option>
            <option value="migrate">I need to migrate to another platform</option>
            <option value="upgrade">I to upgrade my site</option>
            <option value="help">I need help with a broken site</option>
        </select>
    </div>
  
    <div class="column">
      <label for="the-message">Message</label>
      <textarea name="message" id="the-message"></textarea>
      <input type="submit" value="Send Message">
    </div>
  </form>
