
<nav class="bg-sky-900 text-white text-xl">
    <div class="max-w-6xl mx-auto px-4">
        <div class="flex justify-between">
            <div class="flex space-x-4">
               <div>
                    <a href="/" class="flex items-center py-2 w-32 px-2">
                        <img src="/assets/images/logo.webp" />
                    </a>
                </div>

                <!-- Primary Navbar items -->
                <div class="hidden md:flex items-center space-x-1 justify-self-end">
                    <a href="/about/" class="p-6 hover:bg-gray-900 hover:text-gray-200">About</a>
                    <a href="/services/" class="p-6 hover:bg-gray-900 hover:text-gray-200">Services</a>
                    
                    <!-- <div class="relative group">
                        <button class="services p-6 inline-flex items-center hover:bg-gray-900 hover:text-gray-200">
                            Services
                            <svg class="ml-2 w-4 h-4" fill="none" stroke="currentColor" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path></svg>
                        </button>
                        <div class="services-links z-10 absolute hidden group-hover:block bg-gray-700">
                            <a href="/services/#upgrades" class="text-white block py-1 px-4 hover:bg-gray-600">Website Upgrades</a>
                            <a href="/services/#platform" class="text-white block py-1 px-4 hover:bg-gray-600">Platform Migrations</a>
                            <a href="/services/#data" class="text-white block py-1 px-4 hover:bg-gray-600">Data Migration</a>
                            <a href="/services/#fix" class="text-white block py-1 px-4 hover:bg-gray-600">Broken Websites</a>
                        </div>
                    </div>  -->
                    <a href="/static/" class="p-6 hover:bg-gray-900 hover:text-gray-200">Static</a>
                    <a href="/ecommerce/" class="p-6 hover:bg-gray-900 hover:text-gray-200">eCommerce</a>
                    <a href="/why/" class="p-6 hover:bg-gray-900 hover:text-gray-200">Why</a>
                    <!-- <a href="/testimonials/" class="block p-6 text-md hover:bg-gray-900">Testimonials</a> -->
                    <a href="/contact/" class="p-6 hover:bg-gray-900 hover:text-gray-200">Contact</a>
                </div>
            </div>

            <!-- Mobile Menu Button -->
            <div class="md:hidden flex items-center">
                <button class="mobile-menu-button">
                    <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"></path></svg>
                </button>
            </div>
        </div>
    </div>

    <!-- Mobile Menu -->
    <div class="mobile-menu hidden md:hidden mb-5 text-md">
        <a href="/about/" class="block py-2 px-4">About</a>
        <a href="/services/" class="block py-2 px-4">Services</a>
        <a href="/static/" class="block py-2 px-4">Static</a>
        <a href="/ecommerce/" class="block py-2 px-4">eCommerce</a>
        <a href="/why/" class="block py-2 px-4">Why</a>
        <!-- <a href="/testimonials/" class="block py-2 px-4 text-md">Testimonials</a> -->
        <a href="/contact/" class="block py-2 px-4">Contact</a>
    </div>
</nav>

<script>
    const btn = document.querySelector(".mobile-menu-button");
    const menu = document.querySelector(".mobile-menu");

    btn.addEventListener("click", () => {
        menu.classList.toggle("hidden");
    });
</script>
