@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    h1 {
        @apply text-3xl;
    }
    h2 {
        @apply text-2xl font-medium text-sky-900;
    }
    h3 {
        @apply text-xl font-medium text-sky-900;
    }
    h4 {
        @apply text-lg font-medium;
    }
    p {
        @apply mt-2 mb-4;
    }
}

.banner-font {
    font-family: "Merienda", cursive;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}